.gallery {
    @include flexy($wrap: wrap);
        justify-content: center;
    
    @include mq('med'){
        @include center(100%);
        max-width: $max-width;
    }
}

.thumbnail {
    @include flexy;
    padding: 10px;

}

img {
    height: 150px;
    width: 150px;
    box-shadow: 0px 2px 5px rgba(0,0,0, .5); 

    @include mq('med') {
        height: 185px;
        width: 185px;
    }
    @include mq('lg') {
        height: 225px;
        width: 225px;
    }
}

.lightboxOverlay {
    opacity: 1;
}