body {
    text-align: center;
    font-family: 'Shadows Into Light Two';
    padding: 0;
    background-color: rgb(103, 113, 172);
}

p {
    visibility: hidden;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    max-width: 1000px;
}
