body {
    text-align: center;
    font-family: 'Shadows Into Light Two';
    padding: 0;
    background-color: #02a863;
   
    @include mq('med'){
        background-color: #6771ac;
    
    }
}

p {
    visibility: hidden;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    max-width: 1000px;
}
